<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338497994012-5b3c09aviokbdmegsukffh02scqiu3fa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338497994012-5b3c09aviokbdmegsukffh02scqiu3fa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>338497994012-b093m20bvq8ut11tvuvini5bordm5bqg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqpdLfYGsHBXwwf7KgjwSdjTtR5YX5CmI</string>
	<key>GCM_SENDER_ID</key>
	<string>338497994012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myWeatherApp</string>
	<key>PROJECT_ID</key>
	<string>myweatherapp-d8b75</string>
	<key>STORAGE_BUCKET</key>
	<string>myweatherapp-d8b75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338497994012:ios:70da74aa07195dabbcced9</string>
</dict>
</plist>